<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>尊敬的VIP：{{ name }}</h2>
    <p> 各大娱乐会所都可以预定：小包：酒水最低消费1380元，可容纳：1-4人，免费赠送果盘小吃茶水。<br>
        中包：酒水最低消费1680元，可容纳：5-7人，免费赠送果盘小吃茶水。 大包：酒水最低消费1980元，可容纳：8-12人，免费赠送果盘小吃茶水。 <br>
        订房热线:13218881288微信同步联系人:付经理 找南京商务，高档，好玩的KTV预订，就选择我们！ </p>

    <a href="https://njktvhs.mvp.baixing.com/?keyword=%E5%8D%97%E4%BA%ACKTV&bannerId=2005&profile=508327_%E5%8D%97%E4%BA%ACKTV_PC"><h3>点击跳转>>></h3></a>
</body>
</html>